circle.node {
    fill: #fff;
    stroke-width: 8px;
    z-index:0;
}

.node text {
    font: 12px sans-serif;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
    z-index:-1;
}